---
layout: "layout.liquid"
---

<ul class="flex flex-col items-center justify-center gap-6 md:gap-16">
  {% for image in images %}
    {% assign loading = "lazy" %}
    {% if forloop.first %}
      {% assign loading = "eager" %}
    {% endif %}
    <li class="flex justify-center w-full">
      <a href="/photo/{{ image.uid }}/">
        <img
          src="{{ image.src }}"
          alt="{{ image.alt }}"
          width="{{ image.width }}"
          height="{{ image.height }}"
          loading="{{ loading }}"
          class="w-full {% if image.orientation == 'portrait' %}max-w-[768px]{% else %}max-w-[1440px]{% endif %}" />
      </a>
    </li>
  {% endfor %}
</ul>